p{
	margin: 0;
}
.field{
	height: 80vh;
	width: 1300px;
	background-color: #696969
}
body{display: flex;
	justify-content: center;}

.carusel_item{
	height: 500px;
	background-color: #cdcdcd;

	display: flex !important;
	justify-content: center;
	align-items: center;
}
.multiple_items{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
